.btn-page {
  background-color: $title-color;
  padding: 3rem;
  text-align: center;
  background-image: url('../images/bg-boost-desktop.svg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: right;

  h2 {
    color: white;
    font-size: 2.5rem;
  }

  button {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.3rem;
    border-radius: 20px;
    margin-top: 2rem;
  }
}
