* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
  }

  .nav-links-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 3;

    .nav-links {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-left: 2rem;

        a {
          font-size: 1.1rem;
          font-weight: 600;
        }

        a:hover {
          color: $title-color;
        }
      }
    }

    .account {
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 7%;

      .login {
        background-color: transparent;
        color: $text-color;
        margin-right: 1.5rem;
        font-size: 1.1rem;
        font-weight: 600;
      }
      .login:hover {
        color: $title-color;
      }

      .signup {
        width: 6rem;
        height: 2rem;
        font-size: 1.1rem;
        border-radius: 20px;
        font-weight: 600;
      }

      .signup:hover {
        background-color: lighten($cyan, 20%);
      }
    }
  }
  .ham-menu {
    display: none;
  }
}
