// Header
@media (max-width: 56.25em) {
  nav {
    justify-content: space-between;
    .nav-links-login {
      background-color: hsl(257, 27%, 26%);
      position: fixed;
      max-width: 20rem;
      height: 20rem;
      flex-direction: column;
      top: 6rem;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 2rem;
      border-radius: 10px;

      .nav-links {
        ul {
          flex-direction: column;
          border-bottom: 1px solid rgba(201, 201, 201, 0.458);
          margin: 0 auto;
          margin-left: 0;
          width: 15rem;
          li {
            margin-bottom: 1.3rem;

            a {
              color: white;
            }

            a:hover {
              color: white;
            }
          }
        }
      }

      .account {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        gap: 1rem;

        .login {
          background-color: transparent;
          color: white;
          margin-right: 0;
        }

        .login:hover {
          color: white;
        }

        .signup {
          width: 13rem;
          height: 2.2rem;
        }
      }
    }
    .ham-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 7%;
      cursor: pointer;
    }

    .active {
      display: none;
    }
  }
}

// Wrapper
@media (max-width: 62.5em) {
  .wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }
}

// Statistics

@media (max-width: 66.625em) {
  .statistics {
    .statistics-title {
      margin-bottom: 4rem;
    }

    .statistics-box {
      flex-direction: column;
      align-items: center;

      .box {
        gap: 0;
        text-align: center;
        margin-bottom: 4rem;

        .box-image {
          margin: 0 auto;
          margin-top: -4.6rem;
          position: relative;
        }
      }

      div:nth-child(2) {
        margin-top: 0rem;
      }

      div:nth-child(2)::before {
        content: '';
        width: 5rem;
        top: -1.2rem;
        left: 40%;
        transform: rotate(90deg) translate(-50%, 0);
      }

      div:nth-child(3) {
        margin-top: 0;
      }

      div:nth-child(3)::before {
        content: '';
        width: 5rem;
        top: -1.2rem;
        left: 40%;
        transform: rotate(90deg) translate(-50%, 0);
      }
    }
  }
}

@media (max-width: 26.25em) {
  .statistics {
    .statistics-box {
      .box {
        width: 18rem;
      }
      div:nth-child(2)::before {
        content: '';
        width: 5.3rem;
        top: -1rem;
        left: 36%;
        transform: rotate(90deg) translate(-50%, 0);
      }

      div:nth-child(3)::before {
        content: '';
        width: 5.3rem;
        top: -1rem;
        left: 36%;
        transform: rotate(90deg) translate(-50%, 0);
      }
    }
  }
}

// Boost

@media (max-width: 34em) {
  .btn-page {
    background-image: url('../images/bg-boost-mobile.svg');
  }
}
