// Header
@media (max-width: 56.25em) {
  nav {
    justify-content: space-between;
    .nav-links-login {
      background-color: hsl(257, 30%, 14%);
      position: fixed;
      max-width: 20rem;
      height: 20rem;
      flex-direction: column;
      top: 6rem;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 1rem;
      border-radius: 10px;

      .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul {
          flex-direction: column;
          padding-bottom: 0.5rem;
          border-bottom: 1px solid rgb(201, 201, 201);
          text-align: center;
          margin-left: 0;
          li {
            margin-bottom: 1.3rem;
            a {
              color: white;
            }
          }
        }
      }

      .account {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        padding-top: 0.5rem;
        gap: 1rem;

        .login {
          background-color: transparent;
          color: white;
        }

        .signup {
          width: 13rem;
          height: 2.2rem;
        }
      }
    }
    .ham-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 7%;
      cursor: pointer;
    }

    .active {
      display: none;
    }
  }
}

// Wrapper
@media (max-width: 62.5em) {
  .wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }
}

// Statistics

@media (max-width: 66.625em) {
  .statistics {
    .statistics-box {
      flex-direction: column;

      .box {
        gap: 0;
      }

      div:nth-child(2) {
        margin-top: 0rem;
      }

      div:nth-child(2)::before {
        content: '';
        transform: rotate(90deg);
        left: 9rem;
        top: -1.3rem;
      }

      div:nth-child(3) {
        margin-top: 0;

        .box-image {
          padding: 0.5rem;
        }
      }

      div:nth-child(3)::before {
        transform: rotate(90deg);
        left: 9rem;
        top: -1.3rem;
      }
    }
  }
}
