.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 3rem;
  margin-bottom: 5rem;

  .title-wrapper {
    max-width: 30rem;
    h1 {
      color: $title-color;
      font-size: 3.5rem;
      line-height: 1;
      font-weight: bolder;
    }
    p {
      font-size: 1.1rem;
      margin-top: 1rem;
    }

    button {
      width: 9rem;
      height: 2.8rem;
      border-radius: 20px;
      margin-top: 1rem;
      font-size: 1.1rem;
    }
  }
  .image-wrapper {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
