@import 'colors';
@import 'util';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;
}

@import 'header';

@import 'wrapper';
@import 'phone';
